@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    line-height: 1.5;
    font-size: 16px;
    font-family: "Oswald", sans-serif;
}


#cv{
    width: 60%;
    height: 1200px;
    display: flex;
    /* padding: 50px 70px; */
    margin: 20px auto;
    /* align-items: start; */
    border: 1px solid black;
    position: relative;
}
.blue{
    color: #008CFF;
    font-size: 20px;
}

.title{
    font-size: 20px;
}

.exp-title{
    font-size: 18px;
}

/* .sub */

.cv-left{
    flex: 3;
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin: 50px 60px;
}

.contact{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contact-name p{
    font-size: 32px;
}

.contact-info{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contact-soc{
    display: flex;
    gap: 10px;
}

/* summary */
.cv-left-summary{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Experience */
.cv-left-exp{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.cv-exp1{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.exp-subtitle{
    display: flex;
    justify-content: space-between;
}

.cv-left-edu{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.cv-left-edu-lower{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.course{
    display: flex;
    justify-content: space-between;
}


/* cv right */
.cv-right{
    flex: 2;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    gap: 35px;
    height: 100%;
    padding-top: 50px;
    padding-left: 30px;
    padding-right: 30px;
    background: #22405c;
    color: #fff;
}

/* image */
.cv-right-img{
    background: #fff;
    width: 130px;
    height: 130px;
    display: flex;
    border-radius: 10px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

/* skills */
.cv-right-skills{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.cv-right-skills ul{
    font-size: 15px;
    line-height: 1.8;
}


/*languages*/
.cv-right-lang{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.cv-lang{
    display: flex;
    justify-content: space-between;
}


/* certifications */
.cv-right-cert li{
    font-weight: 500;
}
